# Database (Local Postgres)
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=

# App Config
RAILS_MAX_THREADS=

# VPS IP Address
VPS_IP=

# KAMAL REGISTRY PASSWORD
KAMAL_REGISTRY_PASSWORD=

# RAILS MASTER KEY
RAILS_MASTER_KEY=

# MPESA CONFIG
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=http://localhost:3000/webhooks/mpesa
