# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
public/assets/* linguist-vendored

# Credentials
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Language Statistics Fixes
*.html linguist-detectable=false
*.html.erb linguist-language=Ruby
