<%= content_tag(render_as_link? ? :a : :button,
                href: @href,
                type: (render_as_link? ? nil : @type),
                class: wrapper_classes,
                **(@system_arguments.except(:class))) do %>
  <span class="<%= background_border_classes %>"></span>
  <span class="<%= foreground_classes %> ">
    <%= content %>
  </span>
<% end %>
