<div class="flex items-center gap-2 bg-white p-4 hover:bg-gray-50 transition cursor-pointer w-full">
  <img alt="<%= @name %>" src="<%= @avatar_url %>" class="size-10 rounded-full object-cover">
  <div data-sidebar-target="text">
    <p class="text-xs">
      <strong class="block font-medium"><%= @name %></strong>
      <span> <%= @email %> </span>
    </p>
  </div>
</div>
