<h1>You are going to RubyConf!</h1>
<p>Hi <%= @order.buyer_name %>,</p>
<p>Great news! Your payment has been verified and your order <strong><%= @order.order_no %></strong> is confirmed.</p>
<h3>Your Tickets</h3>
<p>We have attached a PDF containing tickets for all attendees in this order. Please save this file and present the QR code at the event entrance.</p>
<hr>
<p>See you there,<br>
  RubyConf Africa Team</p>
