<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <nav>
      <%#= link_to "Home", root_path if authenticated?%>
      <%#= button_to "Log out", session_path, method: :delete if authenticated? %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
